body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(15, 15, 15);
    color: white;
}

h1,h2,h3,h4,h5,h6,p,a,ul {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.cursorCircle {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50px;
  mix-blend-mode: difference;
  background-color: rgba(255,255,255,0.15);
  z-index: 10000;
  height: 75px;
  width: 75px;
  transition: all 0.2s ease-out;
}

/* Loader */
.loader2 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.loader:before {
  content: "";
  width: 10px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: -9px;
  animation: shadow046 2s alternate infinite ease;
}
@keyframes shadow046 {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(15);
    opacity: 0.7;
  }
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.loader .p1 {
  height: 20px;
  width: 7px;
  background-color: #ffe71c;
  position: absolute;
  margin-top: -118px;
  margin-left: 3px;
}
.loader .p2 {
  height: 20px;
  width: 7px;
  background-color: #ffe71c;
  position: absolute;
  margin-top: 118px;
  margin-left: 3px;
}

.loader .p3 {
  height: 20px;
  width: 7px;
  background-color: #ffe71c;
  position: absolute;
  transform: rotate(90deg);
  margin-right: -120px;
}
.loader .p4 {
  height: 20px;
  width: 7px;
  background-color: #ffe71c;
  position: absolute;
  transform: rotate(90deg);
  margin-right: 119px;
}
.loader .p5 {
  height: 25px;
  width: 7px;
  background-color: #ffe71c;
  position: absolute;
  margin-top: -84px;
  margin-right: -89px;
  transform: rotate(45deg);
}
.loader .p6 {
  height: 23px;
  width: 7px;
  background-color: #ffe71c;
  position: absolute;
  margin-top: 88px;
  margin-right: 84px;
  transform: rotate(45deg);
}
.loader .p7 {
  height: 23px;
  width: 7px;
  background-color: #ffe71c;
  position: absolute;
  margin-top: -86px;
  margin-right: 80px;
  transform: rotate(-45deg);
}
.loader .p8 {
  height: 23px;
  width: 7px;
  background-color: #ffe71c;
  position: absolute;
  margin-top: 80px;
  margin-right: -83px;
  transform: rotate(-45deg);
}
.circle .traco {
  position: absolute;
  z-index: -99;
}
.loader .content {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ffe71c;
  overflow: hidden;
}
.content .eyes {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px auto 0px;
  padding: 3.5px 10px;
}
.eyes .eye-left {
  width: 22px;
  height: 100%;
  background-color: #ffe71c;
  border-radius: 50%;
}
.eyes .eye-right {
  width: 22px;
  height: 100%;
  background-color: #ffe71c;
  border-radius: 50%;
}

.content .nouse {
  margin: -4px auto;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #ffe71c;
}
.content .mouth {
  margin: 9px auto 0;
  height: 3px;
  width: 100%;
  background-color: #ffe71c;
}
.content .teeth {
  margin: 0 auto;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.teeth .tooth {
  height: 100%;
  width: 4px;
  background-color: #ffe71c;
}



.loaderContainer {
  opacity: 1;
  position: fixed;
  inset: 0;
  z-index: 20000;
  background-color: rgb(20, 20, 20);
  display: grid;
  place-content: center;
  transition: opacity 0.5s ease;
}

.loaderContainer.hidden {
  opacity: 0;
  visibility: hidden;
}

#pageContent {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#pageContent.visible {
  opacity: 1;
}

.loader {
  width: 60px;
  height: 60px;
  border: 4px solid #f26e04;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 1.5s ease infinite alternate spinner ;
}

@keyframes spinner {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(720deg) scale(1.2);
  }
}

/* HEADER */

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 100;
}

header nav ul {
    position: fixed;
    top: 30px;
    right: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.magneto {
    cursor: pointer;
    border: none;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 1.5em;
    margin: 0 0 30px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magneto a {
  transition: color 0.2s ease, font-size 0.2s ease;
}

.magneto:hover a{
    color: #f26e04;
    font-size: 1.7em;
}

/* MAIN */

main {
  width: 90%;
}

/* Hero section */

#hero {
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heroTop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroTop .logoContainer {
  text-align: right;
  width: 30%;
  padding: 0 50px 0 0;
  box-sizing: border-box;
}

.logoContainer img {
  opacity: 0.8;
  min-width: 150px;
  width: 100%;
  max-width: 200px;
  border-radius: 70%;
}

#heroTop h1 {
  width: 70%;
  font-size: 4em;
  padding: 20px;
  line-height: 1.5;
  background-color: rgba(255,255,255,0.05);
  border-radius: 10px;
  font-weight: 600;
}

h1 span {
  color: #f26e04;
}

#heroBot {
  position: absolute;
  bottom: 10px;
  left: 56%;
  transform: translateX(-44%);
}

/* Portfolio section */

#portfolio {
  margin: 400px auto 0 auto;
  width: 100%;
  position: relative;
  padding: 300px 0 0 0;
}

#portfolio h1 {
  color: #f26e04;
  position: absolute;
  top: 0px;
  left: 57%;
  transform: translateX(-43%);
  font-size: 4em;
  letter-spacing: 5px;
  font-weight: 500;
}

.project {
  margin: 0 0 300px 0;
  display: flex;
}

.project > div {
  width: 50%;
}

.projectText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 200px;
  padding: 0 0 0 50px;
  transition: background-color 0.2s ease;
}

.moreInfo a {
  font-size: 1.5em;
  opacity: 0;
  position: absolute;
  left: 50px;
  bottom: 30px;
  transition: opacity 0.2s ease, bottom 0.2s ease;
}

.moreInfo a:hover {
  text-decoration: underline;
}

.projectText:hover {
  background-color: rgba(255,255,255,0.02);
}

.projectText:hover .moreInfo a{
  opacity: 1;
  bottom: 50px;
}

.project:hover .projectMedia img {
  transform: scale(1);
}

.projectText h2 {
  font-size: 3em;
  font-weight: 500;
}

.projectText h3 {
  font-weight: 300;
}

.projectMedia {
  overflow: hidden;
}

.projectMedia img {
  width: 100%;
  transform: scale(1.05);
  transition: transform 0.4s ease;
}

/* About me */

#aboutMe {
  position: relative;
  padding: 300px 0 0 0;
  margin: 0 0 400px 0;
}

#aboutMe h1 {
  color: #f26e04;
  position: absolute;
  top: 0px;
  left: 57%;
  transform: translateX(-43%);
  font-size: 4em;
  margin: 0 0 200px 0;
  letter-spacing: 5px;
  font-weight: 500;
}

#aboutMeContainer {
  margin: 0 0 0 10%;
  display: flex;
  background-color: rgba(255,255,255,0.1);
  border-radius: 15px;
  overflow: hidden;
}

.aboutMeLeft {
  width: 40%;
}

.aboutMeLeft img {
  max-height: 80%;
  width: 100%;
  border-radius: 10%;
  margin-left: 50px;
}

.aboutMeRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 75px;
}

.aboutMeRight h2 {
  font-size: 3em;
  margin: 0 0 100px 0;
}

.aboutMeRight p {
  line-height: 2;
  font-size: 1.4em;
}

/* Contacts */

#contacts {
  width: 100%;
  position: relative;
  padding: 300px 0 0 0;
  margin: 0 0 50px 0;
}

#contacts h1 {
  color: #f26e04;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4em;
  margin: 0 0 200px 0;
  letter-spacing: 5px;
  font-weight: 500;
}

#contacts ul {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

#contacts ul > li {
  flex-basis: 33%;
  text-align: center;
  width: 60px;
  font-size: 3em;
  margin: 0 0 75px 0;
  opacity: 0.7;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#contacts ul > li:hover {
  transform: scale(1.2);
  opacity: 1;
}

#contacts ul > li:hover a {
  color: #f26e04;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {    
  font-family: 'Montserrat', sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 70%; 
  background-color: gray; 
}

.skills {
  text-align: right; 
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ddd; 
}

.html {width: 69%; background-color: rgb(219, 70, 15);} 
.css {width: 70%; background-color: #1877c5;} 
.js {width: 66%; background-color: rgb(199, 171, 12);} 
.boot {width: 64%; background-color: rgb(138, 43, 226)}
.sass {width: 56%; background-color: rgb(219, 22, 81);} 
.type {width: 80%; background-color: rgb(2, 5, 163);}
.ang {width: 77%; background-color: rgb(196, 8, 64);}

footer {
  background-color: rgba(255,255,255,0.1);
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}